<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016608110651-9e1es5d8fbvrlk5f6jv2pdneld90kt4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016608110651-9e1es5d8fbvrlk5f6jv2pdneld90kt4t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1016608110651-k23qfhjgosdb975gn1q4u9kcu62fqil1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWOmJk4Lt8OmpZF9CaIMJJJHOY2fkII-4</string>
	<key>GCM_SENDER_ID</key>
	<string>1016608110651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.epochs.sharing0ut</string>
	<key>PROJECT_ID</key>
	<string>sharingout-61e79</string>
	<key>STORAGE_BUCKET</key>
	<string>sharingout-61e79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016608110651:ios:e4338ffad7ad1ef4c9441e</string>
	<key>DATABASE_URL</key>
	<string>https://sharingout-61e79.firebaseio.com</string>
</dict>
</plist>